.goods {
    background: #fafafa;
    border-top: 1px solid #eee1e1;
    border-bottom: 1px solid #eee1e1;
    margin-top: 25px;
    padding: 75px 0;
}

.goods_top {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
}

.title span {
    display: block;
    font-size: 12px;
    color: #a69b9b;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 10px;
    position: relative;
}

.title span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 12px;
    background: #d75959;
}

.navs {
    display: flex;
}

.navs button {
    background: #ffffff;
    border-radius: 6px;
    border: none;
    outline: none;
    display: block;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.navs button:hover {
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.navs button.prev {
    margin-right: 20px;
}

.goods_slider {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.goods_item {
    background: #fbf8f8;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 480px;
    outline: none;
}

.goods_item_upper {
    position: relative;
    height: 380px;
    overflow: hidden;
}

.goods_item_discount {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 32px;
    height: 32px;
    background: #fafafa;
    border: 1px solid #fdebeb;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods_item_btm {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.goods_item_name {
    font-weight: bold;
    color: #000;
    line-height: 19px;
}

.goods_item_desc {
    color: #755959;
    line-height: 19px;
}

.goods_item_price {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-top: auto;
}

.new_price {
    color: #d75959;
    margin-right: 10px;
    font-weight: bold;
}

.old_price {
    color: #000;
    text-decoration: line-through;
    font-weight: bold;
}

.goods_btn {
    display: block;
    margin: 50px auto 0;
    text-align: center;
    width: 190px;
}

.goods_btn a {
    color: #fff;
}

.rec-pagination {
    display: none !important;
}

.rec-arrow {
    background: #ffffff !important;
    border-radius: 6px !important;
    border: none !important;
    outline: none !important;
    display: block !important;
    width: 40px !important;
    min-width: 40px !important;
    line-height: 40px !important;
    height: 40px !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05) !important;
    cursor: pointer !important;
    transition: all 0.5s ease-in-out !important;
    font-size: 14px !important;
}

.rec-arrow-right {
    position: absolute;
    top: 0;
    right: 13px;
}

.rec-arrow-left {
    position: absolute;
    top: 0;
    right: 75px;
}

.rec-arrow:hover {
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.05) !important;
    color: #000 !important;
}

.chowzb:hover:enabled,
.chowzb:focus:enabled {
    color: #000 !important;
}

.hCVuYx:disabled {
    opacity: 0.7 !important;
}

.hCVuYx:disabled:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05) !important;
}

.mUZZN {
    margin: 0 !important;
}

.iamfxf {
    padding: 10px 0 !important;
}

.rec-carousel-item {
    outline: none;
}
